In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
# Initialize Spark Session

spark = SparkSession.builder.appName("WordCount").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 09:07:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
sc=spark.sparkContext

In [5]:
rdd = sc.parallelize([1,2,3,4])

In [6]:
rdd.collect()

[1, 2, 3, 4]

In [7]:
resultRdd = rdd.map(lambda x: x*2)

In [8]:
resultRdd.collect()

[2, 4, 6, 8]

In [9]:
rdd1 = sc.parallelize([1,2,3,4,5])

In [10]:
rdd1.collect()

[1, 2, 3, 4, 5]

In [11]:
resultrdd1 = rdd1.flatMap(lambda x : (x, x*2))
resultrdd1.collect()

[1, 2, 2, 4, 3, 6, 4, 8, 5, 10]

In [12]:
rdd3 = sc.parallelize([1,2,3,4,5,6,7])
resultrdd3 = rdd3.filter(lambda x : x % 2 ==0)
resultrdd3.collect()

[2, 4, 6]

In [13]:
rdd4 = sc.parallelize([(1,2), (2,1), (1,6), (2,7), (3,7)])
resultRdd4 = rdd4.reduceByKey(lambda x,y : x+y)
resultRdd4.collect()

[(2, 8), (1, 8), (3, 7)]

In [14]:
rdd5 = sc.parallelize([(1,2), (2,1), (1,6), (2,7), (3,7)])
resultRdd5 = rdd5.groupByKey()
resultRdd5.collect()

[(2, <pyspark.resultiterable.ResultIterable at 0x7f9d0c67dbd0>),
 (1, <pyspark.resultiterable.ResultIterable at 0x7f9d0c67dd90>),
 (3, <pyspark.resultiterable.ResultIterable at 0x7f9d0c5c6190>)]

In [15]:
for key, value in resultRdd5.collect():
    print(f"Key : {key}, Values : {list(value)}")

Key : 2, Values : [1, 7]
Key : 1, Values : [2, 6]
Key : 3, Values : [7]

In [16]:
word_list = list("this is a sample text document for word count examples".split(" "))
print(word_list)

['this', 'is', 'a', 'sample', 'text', 'document', 'for', 'word', 'count', 'examples']

In [17]:
rdd6 = sc.parallelize(word_list)
rdd6.collect()

['this',
 'is',
 'a',
 'sample',
 'text',
 'document',
 'for',
 'word',
 'count',
 'examples']

In [18]:
word_count = rdd6.flatMap(lambda x: x.split(","))
word_count.collect()

['this',
 'is',
 'a',
 'sample',
 'text',
 'document',
 'for',
 'word',
 'count',
 'examples']

In [19]:
word_counts = word_count.map(lambda word : (word, 1)).reduceByKey(lambda x,y: x+y)

In [20]:
for word, count in word_counts.collect():
    print(f"{word} : {count}")

this : 1
sample : 1
text : 1
for : 1
word : 1
examples : 1
is : 1
a : 1
document : 1
count : 1

In [21]:
purchaseRdd = sc.textFile("/home/labuser/Downloads/purchases.csv")
type(purchaseRdd)

pyspark.rdd.RDD

In [22]:
purchaseRdd.collect()

[',apples,oranges', 'June,3,0', 'Robert,2,3', 'Lily,0,7', 'David,1,2']

In [23]:
purchaseDf = spark.read.csv("/home/labuser/Downloads/purchases.csv")

In [24]:
purchaseDf.show()

+------+------+-------+
|   _c0|   _c1|    _c2|
+------+------+-------+
|  null|apples|oranges|
|  June|     3|      0|
|Robert|     2|      3|
|  Lily|     0|      7|
| David|     1|      2|
+------+------+-------+

In [25]:
purchaseDf_01 = spark.read.option("inferSchema", True).option("header", True).csv("/home/labuser/Downloads/purchases.csv")

In [26]:
purchaseDf_01.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- apples: integer (nullable = true)
 |-- oranges: integer (nullable = true)

In [27]:
imdbDf = spark.read.option("inferSchema", True).option("header", True).csv("/home/labuser/Downloads/IMDB-Movie-Data.csv")

In [28]:
imdbDf.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Actors: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Runtime (Minutes): string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Votes: string (nullable = true)
 |-- Revenue (Millions): double (nullable = true)
 |-- Metascore: double (nullable = true)

In [30]:
imdbDf.show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|                2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|                2012|              124|     7|485820|            126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|                2016|              117|   7.3|157606|            138.12|     62.0|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|                2016|              108|   7.2| 60545|            270.32|     59.0|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|                2016|              123|   6.2|393727|            325.02|     40.0|
|   6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|                2016|              103|   6.1| 56036|             45.13|     42.0|
|   7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|                2016|              128|   8.3|258682|            151.06|     93.0|
|   8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|Essie Davis, Andr...|             2016|    89|   6.4|            2490.0|     null|
|   9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|                2016|              141|   7.1|  7188|              8.01|     78.0|
|  10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|                2016|              116|     7|192177|            100.01|     41.0|
|  11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|                2016|              133|   7.5|232072|            234.02|     66.0|
|  12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|                2016|              127|   7.8| 93103|            169.27|     74.0|
|  13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|                2016|              133|   7.9|323118|            532.17|     65.0|
|  14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|                2016|              107|   7.7|118151|            248.75|     81.0|
|  15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|                2016|              109|   6.4|  8612|              2.87|     70.0|
|  16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|                2016|               87|   6.6|120259|            368.31|     61.0|
|  17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|                2016|              139|   8.2|211760|             67.12|     71.0|
|  18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|                2016|              123|   6.7|150823|            162.16|     58.0|
|  19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|                2016|              118|   8.1|102061|             51.69|     69.0|
|  20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|                2016|              116|     8|340798|             100.5|     81.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
only showing top 20 rows

In [35]:
#  |-- Rank: integer (nullable = true)
#  |-- Title: string (nullable = true)
#  |-- Genre: string (nullable = true)
#  |-- Description: string (nullable = true)
#  |-- Director: string (nullable = true)
#  |-- Actors: string (nullable = true)
#  |-- Year: string (nullable = true)
#  |-- Runtime (Minutes): string (nullable = true)
#  |-- Rating: string (nullable = true)
#  |-- Votes: string (nullable = true)
#  |-- Revenue (Millions): double (nullable = true)
#  |-- Metascore: double (nullable = true)

from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
udfSchema = StructType([StructField("Rank", IntegerType(), False), 
                       StructField("Title", StringType(), False),
                       StructField("Genre", StringType(), True),
                       StructField("Description", StringType(), True),
                       StructField("Director", StringType(), False),
                       StructField("Actors", StringType(), False),
                       StructField("Year", IntegerType(), False),
                       StructField("Runtime", IntegerType(), True),
                       StructField("Rating", DoubleType(), True),
                       StructField("Votes", IntegerType(), True),
                       StructField("Revenue_Millions", DoubleType(), True),
                       StructField("MetaScore", DoubleType(), False),
                    ])
imdbDf01 = spark.read.schema(udfSchema).option("header", True).csv("/home/labuser/Downloads/IMDB-Movie-Data.csv")

In [36]:
imdbDf01.show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-------+------+------+----------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|Year|Runtime|Rating| Votes|Revenue_Millions|MetaScore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-------+------+------+----------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|2014|    121|   8.1|757074|          333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|2012|    124|   7.0|485820|          126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|2016|    117|   7.3|157606|          138.12|     62.0|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|2016|    108|   7.2| 60545|          270.32|     59.0|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|2016|    123|   6.2|393727|          325.02|     40.0|
|   6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|2016|    103|   6.1| 56036|           45.13|     42.0|
|   7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|2016|    128|   8.3|258682|          151.06|     93.0|
|   8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|null|   2016|  89.0|  null|          2490.0|     null|
|   9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|2016|    141|   7.1|  7188|            8.01|     78.0|
|  10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|2016|    116|   7.0|192177|          100.01|     41.0|
|  11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|2016|    133|   7.5|232072|          234.02|     66.0|
|  12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|2016|    127|   7.8| 93103|          169.27|     74.0|
|  13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|2016|    133|   7.9|323118|          532.17|     65.0|
|  14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|2016|    107|   7.7|118151|          248.75|     81.0|
|  15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|2016|    109|   6.4|  8612|            2.87|     70.0|
|  16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|2016|     87|   6.6|120259|          368.31|     61.0|
|  17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|2016|    139|   8.2|211760|           67.12|     71.0|
|  18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|2016|    123|   6.7|150823|          162.16|     58.0|
|  19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|2016|    118|   8.1|102061|           51.69|     69.0|
|  20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|2016|    116|   8.0|340798|           100.5|     81.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-------+------+------+----------------+---------+
only showing top 20 rows

23/09/21 09:39:38 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore
 Schema: Rank, Title, Genre, Description, Director, Actors, Year, Runtime, Rating, Votes, Revenue_Millions, MetaScore
Expected: Runtime but found: Runtime (Minutes)
CSV file: file:///home/labuser/Downloads/IMDB-Movie-Data.csv

In [37]:
imdbDf01.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Actors: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Runtime: integer (nullable = true)
 |-- Rating: double (nullable = true)
 |-- Votes: integer (nullable = true)
 |-- Revenue_Millions: double (nullable = true)
 |-- MetaScore: double (nullable = true)