In [1]:
# caching
# managed unmanaged table
# persist, unpersist, levels
# unstructured data - schema from json


import findspark
findspark.init()

# Initialize Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ShellIda25Sep2023").getOrCreate()

sc=spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 05:50:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
import sys
sys.version

'3.11.4 (main, Jul  5 2023, 14:15:25) [GCC 11.2.0]'

In [3]:
from pyspark.sql.functions import *

test_data = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

ud_scehma = ["employee_name","department","state","salary","age","bonus"]

df = spark.createDataFrame(data=test_data ,schema = ud_scehma)

# To solve the Spark Version Error:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [4]:
from pyspark import StorageLevel


test=StorageLevel(useDisk=False,useMemory=True,useOffHeap=False,deserialized=False)


df.persist(storageLevel=test)


df.unpersist()


df.groupBy("department")


df.write.saveAsTable("emp_tbl")


test=spark.sql("DESCRIBE emp_tbl")


test.show()


test01=spark.sql("DESCRIBE EXTENDED emp_tbl")
test01.show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|employee_name|   string|   null|
|   department|   string|   null|
|        state|   string|   null|
|       salary|   bigint|   null|
|          age|   bigint|   null|
|        bonus|   bigint|   null|
+-------------+---------+-------+

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       employee_name|              string|   null|
|          department|              string|   null|
|               state|              string|   null|
|              salary|              bigint|   null|
|                 age|              bigint|   null|
|               bonus|              bigint|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|             default|       |
|               Table|             emp_tbl|       |
|        Created Time|Mon Sep 25 05:50:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.4.1|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|            Location|file:/home/labuse...|       |
+--------------------+--------------------+-------+

In [5]:
spark.sql("CREATE DATABASE idashell")

DataFrame[]

In [6]:
spark.sql("use idashell")

DataFrame[]

In [14]:
df.write.saveAsTable("emp_etbl")

In [15]:
test01 = spark.sql("DESCRIBE EXTENDED emp_etbl")
test01.show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       employee_name|              string|   null|
|          department|              string|   null|
|               state|              string|   null|
|              salary|              bigint|   null|
|                 age|              bigint|   null|
|               bonus|              bigint|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|            idashell|       |
|               Table|            emp_etbl|       |
|        Created Time|Mon Sep 25 06:10:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.4.1|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|            Location|file:/home/labuse...|       |
+--------------------+--------------------+-------+

In [9]:
df.rdd.getNumPartitions()

2

In [10]:
df.write.csv("home/labuser/testcontainer")

In [11]:
df.write.partitionBy("department").csv("/home/labuser/Desktop/25Sep2023")

In [12]:
df.write.partitionBy("state","department").csv("/home/labuser/Desktop/25Sep2023/groupByMany")

In [17]:
# for each

def forEachDep(df):
    print(df.department)
    
test = df.foreach(forEachDep)

Finance5:>                                                          (0 + 2) / 2]
Finance
Finance
Marketing
Marketing
Sales
Sales
Sales
Finance

In [ ]:
# user defined schema from json

# df = spark.read.schema(schema).json(spark.sparkContext.parallelize(json_data))